html{color:#333;background:#fff;}
body{font:12px/1.5 "Microsoft yahei",Tahoma,Arial,Helvetica,sans-serif;word-break:break-all;word-wrap:break-word;margin:0 auto}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,td,th{margin:0;padding:0;}ul,ol,input{margin:0;padding:0;}li{list-style: none;}
img{border:none;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
textarea{resize:none;}
button,input,textarea{font-family:"Microsoft yahei",Tahoma,Arial,Helvetica,sans-serif;vertical-align:middle;}
input:focus{outline:none;}
a{color: #333; text-decoration: none;cursor: pointer;}

@each $typekey, $type in $spacing-types {
  @each $size in $space-sizes {
    .#{$typekey}#{$size} {
      #{$type}:#{$size}px
    }
  }

  @each $directionskey, $direction in $spacing-directions{
    @each $size in $space-sizes {
      .#{$typekey}#{$directionskey}#{$size} {
        #{$type}-#{$direction}:#{$size}px
      }
    }
  }
}

//文章一行显示，多余省略号显示
.title-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.d-flex{display: flex}

@each $alignType, $align in $align-directions {
  .align#{$alignType}{text-align: #{$align}}
}
.clearfix {
  @include clearfix;
}

.fl{float:left;}
.fr{float:right;}
.ivu-layout{background:#fff;}
.handlecursor{cursor:pointer}
.wrap{width:1000px;margin:0 auto;}
.set-title{height:32px; line-height: 32px;}
